:root {
  --primary: #ebc908;
  --primary-text: rgb(3, 188, 12);
  --secondary: white;
  --secondary-text: rgb(3, 188, 12) ;
  --accent: rgb(3, 188, 12);
  --accent-text: white;
  --op: rgba(255, 255, 255, 0.696);
}
